<h1>Most Dangerous Day</h1>
<br>
<h2><%= @start_date %> - <%= @end_date %></h2>
<br>
<!-- these dates are being super annoying?? -->
<h3>Most Dangerous Day in Range - <%= @start_date %></h3>
<br>
<% @asteroids.each do |asteroid| %>
  Name: <%= asteroid.name %><br>
  NEO Reference ID: <%= asteroid.reference %><br><br>
<% end %>
